<img src="Logo.png" width="100" align="left"/> 

# <center> Unit 3 Project </center>
#  <center> Third section : supervised task </center>

In this notebook you will be building and training a supervised learning model to classify your data.

For this task we will be using another classification model "The random forests" model.

Steps for this task: 
1. Load the already clustered dataset 
2. Take into consideration that in this task we will not be using the already added column "Cluster" 
3. Split your data.
3. Build your model using the SKlearn RandomForestClassifier class 
4. classify your data and test the performance of your model 
5. Evaluate the model ( accepted models should have at least an accuracy of 86%). Play with hyper parameters and provide a report about that.
6. Provide evidence on the quality of your model (not overfitted good metrics)
7. Create a new test dataset that contains the testset + an additional column called "predicted_class" stating the class predicted by your random forest classifier for each data point of the test set.

## 1. Load the data and split the data:

In [1]:
from sklearn.ensemble import RandomForestClassifier
import pandas as pd 
from sklearn.model_selection import train_test_split

In [2]:
# To-Do:  load the data 
df = pd.read_csv("clustered_HepatitisC.csv")
df.head()

,ID,Category,Age,Sex,ALB,ALP,ALT,AST,BIL,CHE,CHOL,CREA,GGT,PROT,cluster
0,1,0,32,1,38.5,52.5,7.7,22.1,7.5,6.93,3.23,106.0,12.1,69.0,3
1,2,0,32,1,38.5,70.3,18.0,24.7,3.9,11.17,4.80,74.0,15.6,76.5,3
2,3,0,32,1,46.9,74.7,36.2,52.6,6.1,8.84,5.20,86.0,33.2,79.3,3
3,4,0,32,1,43.2,52.0,30.6,22.6,18.9,7.33,4.74,80.0,33.8,75.7,3
4,5,0,32,1,39.2,74.1,32.6,24.8,9.6,9.15,4.32,76.0,29.9,68.7,3

In [3]:
# To-Do : keep only the columns to be used : all features except ID, cluster 
# The target here is the Category column 
# Do not forget to split your data (this is a classification task)
# test set size should be 20% of the data 
data = df.drop(["ID","cluster"], axis=1)
X = data.drop(["Category"], axis=1)
y = data.Category

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

## 2. Building the model and training and evaluate the performance:

In [4]:
# To-do build the model and train it 
# note that you will be providing explanation about the hyper parameter tuning 
# So you will be iterating a number of times before getting the desired performance 
import numpy as np
from sklearn.model_selection import GridSearchCV

# Number of features to consider at every split
max_features = ['auto', 'log2', None]
# Maximum number of levels in tree
max_depth = [int(x) for x in np.linspace(10, 40, num=4)]
max_depth.append(None)

# Method of selecting samples for training each tree
bootstrap = [True, False]

tuned_params = {'max_features': max_features,
               'max_depth': max_depth,
               'bootstrap': bootstrap}
print(tuned_params)

{'max_features': ['auto', 'log2', None], 'max_depth': [10, 20, 30, 40, None], 'bootstrap': [True, False]}

In order to find the best hyper parameters for the model, I will use a grid search to find the best combination.

In [5]:
rf = RandomForestClassifier(n_estimators=400)
model = GridSearchCV(rf,tuned_params)
model.fit(X_train, y_train)

GridSearchCV(estimator=RandomForestClassifier(n_estimators=400),
             param_grid={'bootstrap': [True, False],
                         'max_depth': [10, 20, 30, 40, None],
                         'max_features': ['auto', 'log2', None]})

In [6]:
model.best_params_

{'bootstrap': False, 'max_depth': None, 'max_features': 'log2'}

In [7]:
y_hat = model.predict(X_test)

In [19]:
# To-do : evaluate the model in terms of accuracy and precision 
# Provide evidence that your model is not overfitting 
from sklearn.metrics import precision_score, accuracy_score
print("Train score : \n")
y_train_pred = model.predict(X_train)
print("Accuracy :",accuracy_score(y_train,y_train_pred),"\n")
print("Precision :",precision_score(y_train,y_train_pred,average="macro"),"\n")
print("Test score :\n")
print("Accuracy score :",accuracy_score(y_test,y_hat),"\n")
print("Precision :",precision_score(y_test,y_hat,average="macro"),"\n")

Train score :

Accuracy : 1.0

Precision : 1.0

Test score :

Accuracy score : 0.959349593495935

Precision : 0.8296969696969697

Having an accuracy of 100% on the train is a sign of overfitting, but since we have a high accuracy on the test set too (95%), then the model isn't overfitted.

> Hint : A Perfect accuracy on the train set suggest that we have an overfitted model So the student should be able to provide a detailed table about the hyper parameters / parameters tuning with a good conclusion stating that the model has at least an accuracy of 86% on the test set without signs of overfitting

## 3. Create the summary test set with the additional predicted class column: 
In this part you need to add the predicted class as a column to your test dataframe and save this one

In [9]:
# To-Do : create the complete test dataframe : it should contain all the feature column + the actual target and the ID as well  
test_df = X_test
test_df["Category"] = y_test

In [10]:
test_df.head()

,Age,Sex,ALB,ALP,ALT,AST,BIL,CHE,CHOL,CREA,GGT,PROT,Category
32,34,1,43.6,58.9,47.1,31.1,18.5,9.14,4.99,95.0,22.2,69.3,0
456,51,0,38.3,67.7,17.4,19.9,5.4,7.50,4.94,72.0,7.9,69.0,0
309,67,1,38.7,83.8,19.4,25.8,8.7,7.95,5.53,100.0,16.6,70.4,0
525,63,0,47.6,59.9,21.1,27.8,8.4,9.24,6.08,62.0,18.3,74.5,0
530,65,0,33.0,74.3,13.2,16.8,4.1,7.46,5.76,52.0,9.1,64.2,0

In [11]:
# To-Do : Add the predicted_class column 
test_df["Predicted_class"] = y_hat

In [12]:
test_df.head()

,Age,Sex,ALB,ALP,ALT,AST,BIL,CHE,CHOL,CREA,GGT,PROT,Category,Predicted_class
32,34,1,43.6,58.9,47.1,31.1,18.5,9.14,4.99,95.0,22.2,69.3,0,0
456,51,0,38.3,67.7,17.4,19.9,5.4,7.50,4.94,72.0,7.9,69.0,0,0
309,67,1,38.7,83.8,19.4,25.8,8.7,7.95,5.53,100.0,16.6,70.4,0,0
525,63,0,47.6,59.9,21.1,27.8,8.4,9.24,6.08,62.0,18.3,74.5,0,0
530,65,0,33.0,74.3,13.2,16.8,4.1,7.46,5.76,52.0,9.1,64.2,0,0

> Make sure you have 16 column in this test set

In [13]:
test_df["ID"] = df["ID"]
test_df["cluster"] = df["cluster"]

In [14]:
test_df.head()

,Age,Sex,ALB,ALP,ALT,AST,BIL,CHE,CHOL,CREA,GGT,PROT,Category,Predicted_class,ID,cluster
32,34,1,43.6,58.9,47.1,31.1,18.5,9.14,4.99,95.0,22.2,69.3,0,0,33,3
456,51,0,38.3,67.7,17.4,19.9,5.4,7.50,4.94,72.0,7.9,69.0,0,0,457,3
309,67,1,38.7,83.8,19.4,25.8,8.7,7.95,5.53,100.0,16.6,70.4,0,0,310,3
525,63,0,47.6,59.9,21.1,27.8,8.4,9.24,6.08,62.0,18.3,74.5,0,0,526,3
530,65,0,33.0,74.3,13.2,16.8,4.1,7.46,5.76,52.0,9.1,64.2,0,0,531,3

In [15]:
cols = test_df.columns.tolist()
ID = cols[-2:-1] 
cols.pop(-2)
cols = ID + cols
test_df = test_df[cols]

In [16]:
test_df.head()

,ID,Age,Sex,ALB,ALP,ALT,AST,BIL,CHE,CHOL,CREA,GGT,PROT,Category,Predicted_class,cluster
32,33,34,1,43.6,58.9,47.1,31.1,18.5,9.14,4.99,95.0,22.2,69.3,0,0,3
456,457,51,0,38.3,67.7,17.4,19.9,5.4,7.50,4.94,72.0,7.9,69.0,0,0,3
309,310,67,1,38.7,83.8,19.4,25.8,8.7,7.95,5.53,100.0,16.6,70.4,0,0,3
525,526,63,0,47.6,59.9,21.1,27.8,8.4,9.24,6.08,62.0,18.3,74.5,0,0,3
530,531,65,0,33.0,74.3,13.2,16.8,4.1,7.46,5.76,52.0,9.1,64.2,0,0,3

In [17]:
test_df.shape

(123, 16)

In [19]:
# Save the test set 
test_df.to_csv("test_summary.csv",index=False)